<div id="ribbits" class="panel left">
    <h1>Registered users</h1>
    <% @users.each do |user| %>
    <div class="ribbitWrapper">
        <a href="<%= user_path user %>">
        <img class="avatar" src="<%= user.avatar_url %>">
        <span class="name"><%= user.name %></span>
        </a>
        | <%= user.email %>
        <p>
        <%= user.ribbits.size %> Tweets |
        <span class="spacing"><%= user.followers.count %> Followers | </span>
        <span class="spacing"><%= user.followeds.count %> Following</span>
        </p>
    </div>
    <% end %>
</div>